<div class="container">
  <p>already login <a routerLink="about/2">click</a> here</p>
   <div class="row">
      <div class="label">Name::: ({{count}})</div>     
     <div class="input"><input type="text" name="name" value="dsf" [(ngModel)] = "name"/></div>
   </div>
   <div class="clear"></div>
   <div class="row">
     <div class="label">Password</div>
     <div class="input"><input type="password" name="password" [value]="password" /></div>
   </div>
   <div class="clear"></div>
   <button type="text" (click) = "submit()">{{btnText}}</button>
</div>
<div>
  <ul>
    <li *ngFor="let item of items; let i = index" (click)=remove(i)>{{item}}</li>
  </ul>
</div>
